html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

    link(rel='shortcut icon', href='libs/link/ico/favicon.png')
    title View Mode
    link(href='libs/link/css/bootstrap.css', rel='stylesheet')
    link(href='assets/css/map.css', rel='stylesheet')
    link(href='libs/link/css/main2.css', rel='stylesheet')
    link(href='libs/link/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    script(src='libs/link/js/modernizr.custom.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBeYO4WXTpTzPR615h9n6L8Ear4dkNd80Y&sensor=false')
    script.

      function initialize() {
      var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
      var mapOptions = {
      center: new google.maps.LatLng(53.467216, -2.233701),
      disableDoubleClickZoom: true,
      zoom: 15,
      styles: [{"stylers":[{"saturation":-100},{"gamma":0.8},{"lightness":4},{"visibility":"on"}]},{"featureType":"landscape.natural","stylers":[{"visibility":"on"},{"gamma":0.8},{"lightness":4},{"saturation":-100}]},{"featureType":"poi.park","stylers":[{"visibility":"on"},{"color":"#5dff00"},{"gamma":4.97},{"lightness":-5},{"saturation":100}]}],
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      var mcOptions = {gridSize: 5, maxZoom: 15};
      var markers = [];
      var loc = !{JSON.stringify(latlng)};

      for (var i = 0; i <loc.length; i++) {
      var mylocation = loc[i];
      var lat = mylocation.replace(/^\"\(([0-9-.]*),.*/g, "$1");
      var lng = mylocation.replace(/.*,\s*([0-9-.]*)\)\"$/g, "$1");
      var latLng = new google.maps.LatLng(lat, lng);
      var marker = new google.maps.Marker({
      position: latLng,
      map:map
      });
      markers.push(marker);
      }
      var mc = new MarkerClusterer(map, markers);
      };
      google.maps.event.addDomListener(window, 'load', initialize);

  body
    .row
      .col-lg-8
        button.btn.btn-default(type='Activity', onclick="location.href='/portfolio';")  Activity Mode
        button.btn.btn-success(type='View', onclick="location.href='/test';")  View Mode
        button.btn.btn-default(type='Missions', href='#Mission', data-toggle='modal')  Missions      
    .holder
      .row
        .col-lg-6
          #map-canvas
        .col-md-4
          h2(style='color: #FFFFFF; font-weight: bold; font-family: \'Abril+Fatface\', serif;') Here Are The Stories!
            br
            br
            .panel.panel-default
                .panel-body
                    #accordion.panel-group
                    - for (var i = 0; i < id.length; ++i) {
                        .panel.panel-default
                          .panel-heading
                            h4.panel-title
                              a(data-toggle='collapse', data-parent='#accordion', href='##{"mode"+i}')= hashtag[i]
                          div(id="mode"+i).panel-collapse.collapse
                            .panel-body
                              div(class='comment more')= text[i]

                          div(id=i class='modal fade' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                      span(aria-hidden='true') ×
                                      span.sr-only Close
                                    h4#myModalLabel.modal-title= hashtag[i]
                                  .modal-body
                                    a= text[i]
                                  .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                                    button.btn.btn-primary(type='button') Save changes
                    -}
    script.
        $(document).ready(function() {
          var showChar = 30;
          var ellipsestext = "...";
          var moretext = "SEE FULL STORY";
          $('.more').each(function() {
          var content = $(this).html();
          if(content.length > showChar) {
          var c = content.substr(0, showChar);
          var h = content.substr(showChar-1, content.length - showChar);
          var html = c + '<span class="moreelipses">'+ellipsestext+'</span> <span class="morecontent"><span>' + h + '</span>  <a href="#i" class="morelink">'+moretext+'</a></span>';
          $(this).html(html);
          }
          });
          $(".morelink").click(function(){
          $('#i').modal('show');
          });
          });

  

